html, body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Roboto Slab'
}

#left-rail a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow: 2px 2px #333333;

}

#left-rail {
	position: absolute;
	top: 80px;
	left: 40px;
	color: #fff;
/*	z-index: 1;
*/}

#content {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.row {
	width: 1000000px;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.page {
	/*flex: 1;*/
	display: flex;
	width: 100vw;
	height: 100vh;
	border: black 1px solid;
	justify-content: center;
	margin-right: 40px;
	position: relative;
}

.page img {
	/*align-self: center;*/
	width: 100vw;
	overflow: hidden;
}

.page p {
	color: white;
	font-family: sans-serif;
	font-size: 34px;
	left: auto;
	position: absolute;
	top: 47.5%;
}

.page a {
	color: white;
	position: absolute;
	text-decoration: none;
	font-family: sans-serif;
}

.prev {
	top: 30px;
	left: 40px;
	text-shadow: 2px 2px #333333;
}
.next {
	top: 30px;
	left: 70px;
	text-shadow: 2px 2px #333333;
}

.next-first {
	top: 30px;
	left: 40px;
	text-shadow: 2px 2px #333333;
}

.spin {
	margin:-60px 0 0 -60px;
	    -webkit-animation:spin 4s linear infinite;
	    -moz-animation:spin 4s linear infinite;
	    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }