html, body {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



#content {
	
	
	width: 722px;
	height: 702px;
	overflow: hidden;
	float: left;
}

.row {
	width: 10000px;
	height: 760px;
	display: flex;
	flex-direction: row;
}

.slide {
	width: 700px;
	height: 700px;
	border: black 1px solid;
	margin-right: 40px;
}